<div class="item">
  <div class="header">
    Getting Started
  </div>
  <div class="menu">
    <LinkTo @route="modules.index" class="item">
      Introduction
    </LinkTo>
    <LinkTo @route="modules.usage" class="item">
      Usage
    </LinkTo>
  </div>
</div>
<LinkTo @route="modules.base_mixin" class="item">
  Base Mixin
</LinkTo>
<LinkTo @route="modules.accordion" class="item">
  Accordion
</LinkTo>
<LinkTo @route="modules.checkbox" class="item">
  Checkbox
</LinkTo>
<LinkTo @route="modules.dimmer" class="item">
  Dimmer
</LinkTo>
<LinkTo @route="modules.dropdown" class="item">
  Dropdown
</LinkTo>
<LinkTo @route="modules.embed" class="item">
  Embed
</LinkTo>
<LinkTo @route="modules.modal" class="item">
  Modal
</LinkTo>
<LinkTo @route="modules.nag" class="item">
  Nag
</LinkTo>
<LinkTo @route="modules.popup" class="item">
  Popup
</LinkTo>
<LinkTo @route="modules.progress" class="item">
  Progress
</LinkTo>
<LinkTo @route="modules.radio" class="item">
  Radio
</LinkTo>
<LinkTo @route="modules.rating" class="item">
  Rating
</LinkTo>
<LinkTo @route="modules.search" class="item">
  Search
</LinkTo>
<LinkTo @route="modules.shape" class="item">
  Shape
</LinkTo>
<LinkTo @route="modules.sidebar" class="item">
  Sidebar
</LinkTo>
<LinkTo @route="modules.sticky" class="item">
  Sticky
</LinkTo>
<LinkTo @route="modules.tab" class="item">
  Tab
</LinkTo>
<LinkTo @route="modules.transition" class="item">
  Transition
</LinkTo>