<div class="annotation transition {{if @showing "visible" "hidden"}}">
  <div class="ui instructive bottom attached segment">
    <pre>
      <code
        class="code hljs {{this.language}}"
        {{did-insert this.highlight @snippet}}
      ></code>
    </pre>
  </div>
</div>