<div class="annotation transition {{if @showing "visible" "hidden"}}">
  <div class="ui instructive bottom attached segment">
    {{#let (get-code-snippet @snippet) as |snippet|}}
      <UiHighlight @type={{@type}} @snippet={{snippet}} @setCode={{@setCode}} />
    {{/let}}
  </div>
</div>